[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
csci-utils = {git = "https://github.com/csci-e-29/2021sp-csci-utils-devfulcrum"}
pandas = "*"
environs = "*"
pyarrow = "*"
openpyxl = "*"
gitpython = "*"
luigi = "*"
django = "*"
seaborn = "*"
datashader = "*"
requests = "*"
aiohttp = "*"
djangorestframework = "*"
scikit-learn = "*"
numpy = "*"

[requires]
python_version = "3.8"
