django
djangorestframework
setuptools_scm
numpy
luigi
git+https://git@github.com/csci-e-29/2021sp-csci-utils-devfulcrum#egg=csci_utils
pandas
environs
pyarrow
openpyxl
gitpython
seaborn
datashader
requests
aiohttp
scikit-learn
sphinx
sphinx-rtd-theme
travis-sphinx
django-environ
django-model-utils
argon2-cffi
django-allauth
django-crispy-forms
django-extensions
coreapi
coreapi-cli
